 var getRandomUrl= function(width,height,key){
  return 'http://placeimg.com/'+width+'/'+height+'/'+loseCode(key)
} 

var loseCode = function(str){
    if(null==str||str=="")
    return str;
    var hash = 0;
    for (i = 0; i < str.length; i++) {
        char = str.charCodeAt(i);
        hash += char;
    }
    return hash;
}


module.exports = {
  getRandomUrl: getRandomUrl,
}